In [23]:
import sys
import os

# Add project root to Python path
project_root = os.path.abspath("..")
if project_root not in sys.path:
    sys.path.append(project_root)

In [1]:
import pandas as pd

emotion_df = pd.read_csv('C:\\Users\\hp\\Desktop\\ai emotion sarcasm fyp\\data\\raw\\emotion_dataset.csv')
emotion_df.head()

,review_text,sentiment,problem_type,predicted_emotion
0,"I got this i n regular xs (i am xsp or xxsp), ...",positive,Size/Fit,joy
1,I love this shirt! it's a nice simple long-sle...,positive,No Problem,optimism/approval
2,It's simply a super cute and versatile jumpsui...,positive,Size/Fit,optimism/approval
3,This dress is beautiful - it is just as pretty...,positive,Appearance,joy
4,I love how you can wear this with a t-shirt or...,positive,No Problem,love

In [2]:
emotion_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2876 entries, 0 to 2875
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   review_text        2876 non-null   object
 1   sentiment          2876 non-null   object
 2   problem_type       2876 non-null   object
 3   predicted_emotion  2876 non-null   object
dtypes: object(4)
memory usage: 90.0+ KB

In [3]:
emotion_df.describe(include='all')

       review_text sentiment problem_type predicted_emotion
count         2876      2876         2876              2876
unique        2821         3            8                11
top          Nice   negative   No Problem               joy
freq             4      1095         1120               655

In [4]:
emotion_df.columns

Index(['review_text', 'sentiment', 'problem_type', 'predicted_emotion'], dtype='object')

In [5]:
# Rename columns for consistency
emotion_df = emotion_df.rename(columns={
    "review_text": "review_text",
    "sentiment": "sentiment_label",
    "predicted_emotion": "emotion_label"
})

emotion_df.columns

Index(['review_text', 'sentiment_label', 'problem_type', 'emotion_label'], dtype='object')

In [6]:
emotion_df["emotion_label"].value_counts()

emotion_label
joy                  655
anger                526
disappointment       499
optimism/approval    442
sadness              236
confusion            193
excitement            82
love                  80
disgust               66
surprise              58
curiosity             39
Name: count, dtype: int64

In [7]:
emotion_df["sentiment_label"].value_counts()

sentiment_label
negative    1095
positive     922
neutral      859
Name: count, dtype: int64

Load sarcasm dataset

In [9]:
sarcasm_df = pd.read_csv("C:\\Users\\hp\\Desktop\\ai emotion sarcasm fyp\\data\\raw\\sarcasm_dataset.csv")

sarcasm_df.head()

                                             content          label
0  My smartphone is so fast I can almost exist in...      sarcastic
1  I bought this hotel stay as a gift and they lo...  non_sarcastic
2  Five stars for the blender's ability to gather...      sarcastic
3  Amazing. The running shoes works exactly as po...      sarcastic
4  I enjoy how the coffee maker updates right whe...      sarcastic

In [13]:
sarcasm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1270 entries, 0 to 1269
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   content        1270 non-null   object
 1   sarcasm_label  1270 non-null   object
dtypes: object(2)
memory usage: 20.0+ KB

In [16]:
# Rename columns for consistency
sarcasm_df = sarcasm_df.rename(columns={
    "content": "review_text",
    "label": "sarcasm_label",
})

sarcasm_df.columns

Index(['review_text', 'sarcasm_label'], dtype='object')

In [17]:
sarcasm_df["sarcasm_label"].value_counts()

sarcasm_label
sarcastic        649
non_sarcastic    621
Name: count, dtype: int64

Missing values

In [18]:
emotion_df.isnull().sum()
sarcasm_df.isnull().sum()

review_text      0
sarcasm_label    0
dtype: int64

Duplicate reviews

In [19]:
emotion_df.duplicated(subset="review_text").sum()
sarcasm_df.duplicated(subset="review_text").sum()

np.int64(0)

In [24]:
from src.preprocessing.text_cleaning import preprocess_dataframe

In [25]:
emotion_df_clean = preprocess_dataframe(
    emotion_df,
    text_column="review_text"
)

sarcasm_df_clean = preprocess_dataframe(
    sarcasm_df,
    text_column="review_text"
)

In [26]:
sample_idx = 5

print("ORIGINAL:")
print(emotion_df.loc[sample_idx, "review_text"])

print("\nCLEANED:")
print(emotion_df_clean.loc[sample_idx, "review_text"])

ORIGINAL:
I love rompers and this one is really cute. i usually wear size 12 but should have got a 10, it runs big. it seems too long, and i'm 5'9". the prints cute but a little blah. i paid $158 which is too much, since i haven't worn it yet, i should have waited for it to go on sale.

CLEANED:
i love rompers and this one is really cute. i usually wear size 12 but should have got a 10, it runs big. it seems too long, and i'm 5'9 . the prints cute but a little blah. i paid 158 which is too much, since i haven't worn it yet, i should have waited for it to go on sale.

In [27]:
emotion_df_clean.to_csv(
    "../data/processed/emotion_processed.csv",
    index=False
)

sarcasm_df_clean.to_csv(
    "../data/processed/sarcasm_processed.csv",
    index=False
)

In [3]:
import pandas as pd

df = pd.read_csv("C:\\Users\\hp\\Desktop\\ai emotion sarcasm fyp\\data\\processed\\emotion_clean.csv")
print(df.columns)

Index(['review_text', 'sentiment_label', 'problem_type', 'emotion_label'], dtype='object')